<section>
    <h1>Détails d'une Exoplanète </h1>

    <table>
        <tr>
            <th>ID Exoplanète </th>
            <th>Nom Exoplanète</th>
            <th>hClass</th>
            <th>Année de découverte</th>
            <th>IST</th>
            <th>pClass</th>
        </tr>
        <tr>
            <td>{{exoplanet.exoplanet_id}} </td>
            <td>{{exoplanet.unique_name}} </td>
            <td>{{exoplanet.hclass}} </td>
            <td>{{exoplanet.discovery_year}} </td>
            <td>{{exoplanet.ist}} </td>
            <td>{{exoplanet.pclass}} </td>
        </tr>
    </table>
</section>