<section>
    <br>
        <h1> Liste des Exoplanète découverte</h1>
    {{#if details}}
        <table>
            <thead>
                <tr>
                    <th>Id Exoplanète</th>
                    <th>Nom Exoplanète</th>
                    <th>hClass</th>
                    <th>Année de découverte</th>
                    <th>IST</th>
                    <th>pClass</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{details.exoplanet_id}}</td>
                    <td>{{details.unique_name}}</td>
                    <td>{{details.hclass}}</td>
                    <td>{{details.year}}</td>
                    <td>{{details.ist}}</td>
                    <td>{{details.pclass}}</td>
                </tr>
            </tbody>
        </table>
    {{else}}
        <table>
            <thead>
                <tr>
                    <th>Id Exoplanète</th>
                    <th>Nom Exoplanète</th>
                    <th>hClass</th>
                    <th>Année de découverte</th>
                    <th>IST</th>
                    <th>pClass</th>
                </tr>
            </thead>
            <tbody>
                {{#each listeExoplanetes}}
                    <tr>
                        <td>{{this.exoplanet_id}}</td>
                        <td><a href="/exoplanets/details?id={{this.exoplanet_id}}">{{this.unique_name}}</a></td>
                        <td>{{this.hclass}}</td>
                        <td>{{this.discovery_year}}</td>
                        <td>{{this.ist}}</td>
                        <td>{{this.pclass}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <h1> Ajouter une Exoplanète découverte</h1>
        <form action="/exoplanets/add" method="post">
            <label> Nom de l'exoplanète découverte</label>
            <input type="text" name="unique_name">
            <label>hClass</label>
            <select class="hClass" name="hclass">
                <option value="Mésoplanète">Mésoplanète</option>
                <option value="Psychroplanète">Psychroplanète</option>
                <option value="Thermoplanète">Thermoplanète</option>
                <option value="Non habitable">Non habitable</option>
            </select>           
            <label>Année de découverte</label>
            <input type="number" name="discovery_year">
            <label>IST</label>
            <input type="number" name="ist" min="0" max="1">
            <label>pClass</label>
            <input type="text" name="pclass">
            <input type="submit" value="Envoyer">
        </form>
        <br>
        <h1> Recherche d'une Exoplanète déjà découverte </h1>
        <form action="/exoplanets/search" method="get">
            <input type="text" minlength="3"  name="name">
            <input type="submit" value="Rechercher">
        </form>
        {{#if searched}}
            {{#if found}}
                <p>
                    {{searchResult}}
                </p>
            {{else}}    
                <p>
                    Non trouvé
                </p>
            {{/if}}
        {{/if}}
    {{/if}}
</section>