<section>
    <h2>Page admin</h2>
    <table>
        <thead>
            <th>Id utilisateur</th>
            <th>Nom utilisateur</th>
            <th>Prénom utilisateur</th>
            <th>Email utilisateur</th>
            <th>Admin ?</th>
            <th>Compte Actif ?</th>
        </thead>
        <tbody>
            {{#each listUsers as |user|}}
            <tr>
                <td>{{user.id_user}}</td>
                <td>{{user.name}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.admin}}</td>
                <td>{{user.active}}</td>
                <td>
                    <!-- if user.admin == false remove all buttons -->
                    {{#unless user.admin }}
                        {{#unless user.active}}
                        <form method="post" action="/admin/enableAccount">
                            <input type="hidden" value="{{user.id_user}}" name="id">
                            <input type="submit" value="Activer le compte">
                        </form>
                        {{else}}
                        <form method="post" action="/admin/disableAccount">
                            <input type="hidden" value="{{user.id_user}}" name="id">
                            <input type="submit" value="Désactiver le compte">
                        </form>
                        {{/unless}}
                    {{/unless}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

   
</section>